*{
    font-size: 1.2rem;
    
}



 .subscribe_button{
    background-color: black;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 23px;

 }

 .bar{
    padding: 10px;
 }

 .calculate{
    background-color: green;
    padding: 10px;
    color: white;
    border: none;
 }

 .subscribed{
    background-color: rgb(180, 179, 179);
    color: black;
 }

