*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
    /* display: flex;
    justify-content: center;
    border: 2px solid rgb(255, 0, 0); */
    
   
}
.display{
    background-color: black;
    color: white;
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.main_containor{
    width: 40%;
    margin-left: 10px;
    
}
button{
    background-color: rgb(51, 51, 51);;
    color: white;
    font-size: 26px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
}

.display{
    
}

.containor{
    display: grid;
    
    
    

    
}
.grid{
    
}
.equalSign{
    
}

.div1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin-bottom: 15px;
}

.div2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin-bottom: 15px;
     
}

.div3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin-bottom: 15px;
}

.div4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin-bottom: 15px;
     
}
.span{
    
}

.operator{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    
}

.orange{
    background-color: rgb(254, 160, 10);
}