body{
    text-align: center;
    
    background-color: black;
}

div{
    background-color: black;
    color: antiquewhite;
    display: flex;
    justify-content: center;
}

table{
    background-color: black;
    text-align: center; 
}

.td{
    border-radius: 50%;
    padding: 1rem 2.3rem 1rem 2.3rem;
    margin: 0;
    background-color: rgb(150, 143, 143);
    font-size: 4rem;
}
.none{
    border: none;
}
.operator{
    border-radius: 50%;
    background-color: orangered;
    padding: 10px 35px 10px 35px;
    font-size: 4rem;
}
.operator2{
    border-radius: 50%;
    background-color: orangered;
    padding: 1rem 2.7rem 1rem 2.7rem;
    font-size: 4rem;

}

.span2{
    background-color: rgb(44, 71, 71);
    border-radius: 40%;
    padding: 5% 40% 10px 40%;
    font-size: 4rem;
}
.results{
    background-color: rgb(72, 71, 71);
    font-size: 4rem;
}

td{
   
}